.banner {
    background-image: url('../src/banner_valencia.jpg');
    /*background-color: #384db3;*/
    width: auto;
    height: 400px;
}

.banner .eslogan {
    line-height: 230px;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
@include transition(all .3 s ease);
}