body {
    margin: 0;
    font-family: 'Hind', sans-serif;
    background-color: #c5c5c5;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 0 5px;
    float: right;
}

.clearboth {
    clear: both;
}

.tienda h3{
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
@include transition(all .3 s ease);
}

.venta {
    flex-wrap: wrap;
}

.venta article {
    display: flex;
    flex-wrap: wrap;
    margin: 60px;
    padding: 0;
    border: solid .5px black;
    width: 460px;
    height: 480px;
    background-color: white;
}

.venta article img {
    width: 460px;
    height: 350px;
}

.venta article h4 {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.venta article a {
    color: red;
}

.venta article a:hover {
    color: yellow;
}