body {
    margin: 0;
    font-family: 'Hind',sans-serif;
}

header {
    background-color: #333;
}

nav {
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

header img {
    width: 5%;
    height: auto;
}

.logo {
    float: left;
}

.active {
    background-color: #4CAF50;
}

.idioma, .login{
    float: right;
}

.search, header img {
    float: right;
}

.clearboth {
    clear: both;
}

.banner {
    /*background-image: url('../src/banner_valencia.jpg');*/
    background-color: #384db3;
    width: auto;
    height: 500px;
}

.banner .eslogan {
    text-align: center;
    text-transform: capitalize;
    font-size: 90px;
    font-weight: bold;
    color: white;
    padding-top: 100px;
}