footer {
    background: #6DCFF6;
    margin-top: auto;
    padding: 15px;
    width: 100%;
    text-align: center;
    column-count: 4;
    font-size: 17px;
}

.contact, .sn, .nav {
    list-style: none;
}

footer .nav a {
    text-decoration: none;
    color: black;
}

footer .nav {
    position: relative;
    top: -25px;
}

footer .sn i {
    font-size: 50px;
    color: black;
}

footer h4 {
    text-transform: capitalize;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

footer .contact {
    position: relative;
    top: -40px;
}