body {
    background-color: #ffffff;
    color: black;
}

.navbar a {
    color: white !important;
    font-weight: bold !important;
}

.dropdown-menu {
    color: white;
    background-color: black;
}

#logo {
    width: 30px;
    height: auto;
}

.navbar, .footer {
    color: white;
    background-color: black;
}

footer, footer div {
    padding: 0;
}

footer i {
    margin-left: 10px;
}
footer i:hover {
    cursor: pointer;
}

h3 {
    margin-top: 0;
}

.active {
    color: black;
    font-weight: bold;
    background-color: #646464 !important; /*Esto no funciona*/
}

.copy {
    display: block;
    text-align: center;
}

.footer-2-col {
    text-align: center;
}

.qsomos p{
    text-align: justify;
}

address{
    margin: 5px -35px;
}

audio {
    margin: 15px;
}

.jumbotron {
    background-image: url("../src/guernica.jpg");
    background-color: black;
    height: 400px;
}

.cards {
    padding: 0 0 15px 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 0;
    height: auto;
    /*margin: 0 5px;*/
    margin: 5px 0;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    border-radius: 5px 5px 0 0;
    max-width: 700px;
    width: 100%;
    height: auto;
    max-height: 300px;
}

.cards p a {
    color: #4966C7;
}

.descripcion {
    width: auto;
    text-align: justify;
    white-space: pre-line;
}

.estilo {
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;
}

.estilo img {
    width: 500px;
    height: 300px;
}

.estilo img:hover {
    transform: scale(1.2);
}

.estilo a {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.estilo a:hover {
    text-decoration: none;
}

.descripcion article {
    border: 1px solid black;
    background-color: rgba(214, 214, 214, .5);
}

.descripcion h2 {
    text-align: center;
}

